* {
	margin: 0;
	padding: 0;
} 

body {
	font-family: 'proxima_nova', 'Arial', sans-serif;
}

.wrap {
	width: 1400px;
	margin: 0 auto;
}
				 
.header {
	height: 109px;
	background-color: #000000;
	display: flex;
}

.header_img  {
	width: 166px;
	height: 109px;
	display: flex;
	position: relative;
}

.logo {
	width: 69px;
	height: 51px;
	background-image: url(../img/logo.png);
	position: absolute;
  left: 85px;
  top: 29px;
}

.header-menu {
	padding-top: 50px;
	position: relative;
}

.header-menu__list li {
	display: inline;
	text-decoration: none;
	color: #ffffff;
	margin-top: 50px;
}

.header-menu__li{
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	margin-left: 60px;
} 

.header-menu__li:hover {
	color: rgb(185, 168, 168);
}

.icon-menu {
	margin-top: 53px;
	float: right;
	margin-left: auto;
	display: flex;
	margin-right: 80px;
}

.icon-menu__search {
	background-image: url(../img/search_icon.png);
	width: 25px;
	height: 24px;
	margin-right: 15px;
}

.icon-menu__shopping {
	background-image: url(../img/shopping_bag_icon.png);
	width: 14px;
	height: 16px;
	color: #ffffff;
}

.p {
	padding-left: 30px;
}

.baner {
	display: flex;
}

.baner__camada3 {
	background-image: url(../img/Camada.png); 
	width: 1400px;
	height: 675px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.baner_text {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.baner__camada3__run {
	width: 495px;
	font-weight: 800;
	font-size: 80px;
	color: #ffffff;
	text-transform: uppercase;   
	padding-right: 70px; 
}

.baner__camada3__see-details {
	width: 149px;
	height: 50px;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	font-weight: 800;
	text-align: center;
	padding: 18px 0 18px;
	box-sizing: border-box;
	text-transform: uppercase;
	align-self: flex-end;
	margin-top: 20px;
}

.baner__camada3__see-details:hover {
	color: rgb(185, 168, 168);
}

.snowboard-menu {
	display: flex;
	flex-direction: column;
	height: 1120px;
	color: #ffffff;
	position: relative;
}

.snowboard-menu__text-snowboard {
	margin: 0 auto;
	margin-top: 159px;
	font-weight: 800;
	font-size: 48px;
	color: #000000;
	width: 341px;
	height: 33px;
	text-transform: uppercase;
}

.snowboard-menu__text-bottom {
	margin: 38px auto 10px;
	font-size: 20px;
	color: #000000;
	font-weight: normal;
}

.x::after {
	content: url(../img/x.png);
	margin: 0 680px ;
	width: 30px;
  height: 29.5px;
}

.board-menu {
	margin-top: 122px;
	display: flex;
}

.board-menu__board1 {
	background-image: url(../img/board_1.png);
	width: 52px;
	height: 405px;
	opacity: 0.25;
	margin-right: 201px;
}

.board-menu__board2 {
	background-image: url(../img/board_2.png);
	width: 164px;
	height: 405px;
	opacity: 0.5;
	margin-right: 198px;
}

.board-menu__board3 {
	background-image: url(../img/board_3.png);
	width: 167px;
	height: 405px;
	margin-right: 203px;
}

.board-menu__board4 {
	background-image: url(../img/board_4.png);
	width: 164px;
	height: 405px;
	opacity: 0.5;
	margin-right: 199px;
}

.board-menu__board5 {
	background-image: url(../img/board_5.png);
	width: 52px;
	height: 405px;
	opacity: 0.25;
}

.next {
	background-image: url(../img/next.png);
	width: 122px;
	height: 227px;
	opacity: 0.5;
	position: absolute;
	left: 1255px;
	top: 500px;
}

.prew {
	background-image: url(../img/prev.png);
	width: 122px;
	height: 227px;
	opacity: 0.5;
	position: absolute;
	left: 11px;
  top: 500px;
}

.snowboard-series {
	margin: 59px auto;
	font-size: 18px;
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
}

.bg-image {
	background-image: url(../img/bg_image.png);
	width: 1400;
	height: 954px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title{
	display: flex;
	width: 1100px;
}

.title__text {
	width: 700px;
}

.bg-image__mountains-text {
	color: white;
	width: 416px;
	font-weight: 800;
	font-size: 46px;
	color: #ffffff;  
	text-transform: uppercase; 
	margin-bottom: 20px;
}

.bg-image__text {
	max-width: 700px;
	font-size: 18px;
	color: #ffffff;
	line-height: 25px;
	margin-bottom: 50px;
}

.bg-image__text2 {
	font-size: 18px;
	color: #ffffff;
	line-height: 25px;
}

.features {
	display: flex;
	flex-direction: column;
	height: 680px;
}

.features__title {
	margin: 125px auto 37px;
  padding-left: 85px;
	font-weight: 800;
	font-size: 48px;
	color: #000000;
	width: 341px;
	height: 43px;
	text-transform: uppercase;
}

.features__features-x {
	padding-bottom: 87px;
}

.features-menu {
	display: flex;
	margin: 0 auto;
}
.features__card {
	margin: 0 27px 0;
}

.features-menu__born {
	width: 220px;
	height: 160px;
	background-image: url(../img/born_img1.png);
}

.features-menu__born-text {
	width: 220px;
	height: 35px;
	margin-top: 26px;
	font-weight: bold;
}

.features-menu__jeremy {
	width: 220px;
	height: 160px;
	background-image: url(../img/jeremy_img_2.png);
}

.features-menu__jeremy-text {
	width: 220px;
	height: 35px;
	margin-top: 26px;
	font-weight: bold;
}

.features-menu__bourtons-recap {
	width: 220px;
	height: 160px;
	background-image: url(../img/brtn_img3.png);
}

.features-menu__bourtons-recap-text {
	width: 220px;
	height: 35px;
	margin-top: 26px;
  font-weight: bold;
}

.features-menu__bourtons-tokyo {
	width: 220px;
	height: 160px;
	background-image: url(../img/brtn_img4.png);
}

.features-menu__bourtons-tokyo-text {
	width: 220px;
	height: 35px;
	margin-top: 26px;
	font-weight: bold;
}

.footer {
	display: flex;
	justify-content: center;
	height: 396px;
	background-color: #000000;
	padding-top: 100px;
}

.footer__product {
	width: 262px;
	height: 258px;
}

.footer__product-title {
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
}

.ul__style {
	padding-top: 30px;
	line-height: 35px;
} 

.footer__links{
	color: #c9c9c9;
	list-style-type: none;
	text-decoration: none;
}

.footer__links:hover {
	color: rgb(185, 168, 168);
}

.footer__about-menu {
	width: 262px;
	height: 258px;
}

.footer__costumer-support {
	width: 262px;
	height: 258px;
}

.footer__newsletter {
	width: 262px;
	height: 258px;
}

.footer__email {
	margin-top: 41px;
	width: 162px;
	height: 42px;
	display: flex;
}

.button {
	background-color: #c7c7c7;
	border: none;
	font-weight: bold;
  padding: 10px;
}

.social {
	width: 30px;
  height: 17px;
	margin-top: 66px;
	margin-right: 12px;
	display: inline-block;
	background-image: url('../img/social.png');
}

.fb {
	background-position: 0px;
}

.tw {
	background-position: -36px;
}

.inst {
	background-position: -82px;
}

.p {
	background-position: 90px;
}

.youtube {
	background-position: 27px;
	width: 27px;
}

.data {
	color: #ffffff;
	margin-top: 93px;
}

.change__region {
	color: #ffffff;
	margin-top: 57px;
	text-align: right;
	margin-right: 43px;
	position: relative;
}

.img__usa {
	background-image: url(../img/usa.png);
	width: 14px;
	height: 10px;
	position: absolute;
	left: 86px;
  top: 4px;
}

  