.body {
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 95vh;
  align-items: center;
  margin: auto;
}

blockquote {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  margin-bottom: 10em;
}

.quote {
  font-size: 36px;
  font-style: oblique;
  color: #ffffff;
  padding: 0.5em;
  background-color: rgba(167, 149, 149, 0.25);
  border-radius: 55px;
  margin-bottom: 2em;
}


.author {
  font-size: 30px;
  color:  rgba(255, 255, 255, 0.8);
}

.showQuotes {
  font-style: oblique;
  color:  rgba(88, 79, 79, 0.85);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  width: 15em;
  border-radius: 1em;
  border: solid 1px rgba(0, 0, 0, 0.4);
  outline: none;
  position: fixed;
  top: 30em;
}

.showQuotes:hover {
  background-color: rgba(194, 161, 161, 0.808);
  transition-duration: 0.2s;
}